.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: #011d47;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.disppear {
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader::after{
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #cdd9e4;
    border-top-color: #174973;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}


@keyframes loading {
    from{
        transform: rotate(0turn);

    }
    to{
        transform: rotate(1turn);
    }
}